<div class="center hero-unit">
  <h1>Raymond's Rails App</h1>

  <h2>
    This is not the home page for my
    <a href="http://digg.com/">Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="center_img">
  <%= link_to image_tag("drawJava.png", alt: "Rails"), 'https://gist.github.com/raymondnaval/8425980' %>
</div>